# Â§ßË¶èÊ®°„Éá„Éº„Çø„Éô„Éº„ÇπË´ñ
## Á¨¨6Á´† „Éì„ÉÉ„ÇØ„Éá„Éº„ÇøÂàÜÊûêÂü∫Áõ§„ÅÆÊßãÁØâ
## 6.1 „Çπ„Ç≠„Éº„Éû„É¨„Çπ„Éá„Éº„Çø„ÅÆ„Ç¢„Éâ„Éõ„ÉÉ„ÇØÂàÜÊûê

In [1]:
!mongo --version
# 4.4.1

MongoDB shell version v4.4.1
Build Info: {
    "version": "4.4.1",
    "gitVersion": "ad91a93a5a31e175f5cbf8c69561e788bbc55ce1",
    "modules": [],
    "allocator": "system",
    "environment": {
        "distarch": "x86_64",
        "target_arch": "x86_64"
    }
}

In [2]:
!brew info apache-spark
# 3.0.1

apache-spark: stable 3.0.1, HEAD
Engine for large-scale data processing
https://spark.apache.org/
/usr/local/Cellar/apache-spark/3.0.1 (1,237 files, 238.1MB) *
  Built from source on 2021-01-31 at 15:34:09
From: https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/apache-spark.rb
License: Apache-2.0
==> Dependencies
Required: openjdk@11 ‚úî
==> Options
--HEAD
	Install HEAD version
==> Analytics
install: 3,378 (30 days), 10,785 (90 days), 58,837 (365 days)
install-on-request: 3,374 (30 days), 10,731 (90 days), 57,727 (365 days)
build-error: 0 (30 days)

In [3]:
!pip3 show pandas
# 1.1.5

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Name: pandas
Version: 1.1.5
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: None
Author-email: None
License: BSD
Location: /Users/furuhama/Library/Python/3.8/lib/python/site-packages
Requires: python-dateutil, pytz, numpy
Required-by:

In [4]:
!jupyter-console --version

6.1.0

In [2]:
!java -version
# 15.0.1

openjdk version "11.0.9" 2020-10-20
OpenJDK Runtime Environment (build 11.0.9+11)
OpenJDK 64-Bit Server VM (build 11.0.9+11, mixed mode)

In [3]:
!python3 --version
# 3.8.2

Python 3.8.2

### MongoDB„ÅÆ„Ç§„É≥„Çπ„Éà„Éº„É´
Êú¨Êõ∏„ÅÆÊÉÖÂ†±„ÅåÂè§„Åè` $ brew install mongodb` „Åå„Åß„Åç„Å™„ÅÑ„Åü„ÇÅ„ÄÅhttps://www.tweeeety.blog/entry/2020/08/23/033501 „ÇíÂèÇËÄÉ„Å´„Ç§„É≥„Çπ„Éà„Éº„É´„ÄÇ
```
$ brew tap mongodb/brew
$ brew install mongodb-community
```

In [7]:
!mongod --version

db version v4.4.1
Build Info: {
    "version": "4.4.1",
    "gitVersion": "ad91a93a5a31e175f5cbf8c69561e788bbc55ce1",
    "modules": [],
    "allocator": "system",
    "environment": {
        "distarch": "x86_64",
        "target_arch": "x86_64"
    }
}

### MongoDB„ÅÆËµ∑Âãï
```
$ brew services start mongodb-community   # mongdb„ÅÆ„Éê„ÉÉ„ÇØ„Ç∞„É©„É≥„Éâ„Éó„É≠„Çª„Çπ„ÇíËá™ÂãïËµ∑Âãï

$ brew services stop mongodb-community   # Ëá™ÂãïËµ∑ÂãïÂÅúÊ≠¢

$ mongo # Ëµ∑Âãï
```
https://gxliu.hatenablog.com/entry/2020/10/25/201501

In [1]:
import pymongo
import pandas as pd

In [2]:
mongo = pymongo.MongoClient()
mongo.twitter.sample.find_one()

{'_id': ObjectId('6015a577da278cb58ed9e69e'),
 'delete': {'status': {'id': 1285090306963066880,
   'id_str': '1285090306963066880',
   'user_id': 961050601147658245,
   'user_id_str': '961050601147658245'},
  'timestamp_ms': '1612030429299'},
 '_timestamp': '2021-01-30T18:29:11.017532'}

In [7]:
df = pd.DataFrame(list(mongo.twitter.sample.find({'lang':'en'})))
df

,_id,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,...,filter_level,lang,timestamp_ms,_timestamp,display_text_range,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink,extended_tweet
0,6015a577da278cb58ed9e6ef,Sat Jan 30 18:29:06 +0000 2021,1355583835870621697,1355583835870621697,RT @Raglant33: these 7 minute long credits for...,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,None,NaN,...,low,en,1612031346658,2021-01-30T18:29:11.682893,NaN,NaN,NaN,NaN,NaN,NaN
1,6015a577da278cb58ed9e6f1,Sat Jan 30 18:29:06 +0000 2021,1355583835870810113,1355583835870810113,@TheGingerarchy White walker,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,1.355579e+18,1355578770808299522,1.712939e+09,...,low,en,1612031346658,2021-01-30T18:29:11.713740,"[16, 28]",NaN,NaN,NaN,NaN,NaN
2,6015a577da278cb58ed9e6f2,Sat Jan 30 18:29:06 +0000 2021,1355583835866624000,1355583835866624000,[Question] Can AltDeploy be used on iOS 13.5 h...,"<a href=""http://reddit.com/r/jailbreak"" rel=""n...",False,NaN,None,NaN,...,low,en,1612031346657,2021-01-30T18:29:11.715593,NaN,NaN,NaN,NaN,NaN,NaN
3,6015a577da278cb58ed9e6f3,Sat Jan 30 18:29:06 +0000 2021,1355583835900174344,1355583835900174344,RT @Stock_Car_Spec: Season 3 is here!! \nWe di...,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,None,NaN,...,low,en,1612031346665,2021-01-30T18:29:11.717903,NaN,NaN,NaN,NaN,NaN,NaN
4,6015a577da278cb58ed9e6f6,Sat Jan 30 18:29:06 +0000 2021,1355583835883204608,1355583835883204608,RT @TransEthics: By calling cis people cis we ...,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,None,NaN,...,low,en,1612031346661,2021-01-30T18:29:11.724688,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4618,6015ad2f81ff34d0642d3542,Sat Jan 30 19:02:02 +0000 2021,1355592123840487427,1355592123840487427,no rips,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,None,NaN,...,low,en,1612033322664,2021-01-30T19:02:07.740138,NaN,1.319257e+18,1319257290076246016,{'created_at': 'Thu Oct 22 12:40:23 +0000 2020...,"{'url': 'https://t.co/uQlN5xtPZl', 'expanded':...",NaN
4619,6015ad2f81ff34d0642d3544,Sat Jan 30 19:02:02 +0000 2021,1355592123836493833,1355592123836493833,@StojyBoy Ccc extra meat\n add bacon\n america...,"<a href=""http://twitter.com/download/android"" ...",True,1.355578e+18,1355578193621647367,1.266769e+18,...,low,en,1612033322663,2021-01-30T19:02:07.744333,"[10, 140]",NaN,NaN,NaN,NaN,{'full_text': '@StojyBoy Ccc extra meat add b...
4620,6015ad2f81ff34d0642d3545,Sat Jan 30 19:02:02 +0000 2021,1355592123849060353,1355592123849060353,@luckyisdesi I was thinking of uncle/auntie as...,"<a href=""http://twitter.com/download/android"" ...",True,1.355590e+18,1355589675902251008,2.255027e+09,...,low,en,1612033322666,2021-01-30T19:02:07.745749,"[13, 140]",NaN,NaN,NaN,NaN,{'full_text': '@luckyisdesi I was thinking of ...
4621,6015ad2f81ff34d0642d354a,Sat Jan 30 19:02:02 +0000 2021,1355592123844685825,1355592123844685825,Dr. Hope!üòé https://t.co/xvjurm10dU,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,1.355589e+18,1355589324725657600,1.355555e+18,...,low,en,1612033322665,2021-01-30T19:02:07.753038,"[0, 10]",NaN,NaN,NaN,NaN,NaN
4622,6015ad3081ff34d0642d354f,Sat Jan 30 19:02:02 +0000 2021,1355592123836317696,1355592123836317696,He was wearing exact denim pollo that he wore ...,"<a href=""http://twitter.com/download/android"" ...",True,NaN,None,NaN,...,low,en,1612033322663,2021-01-30T19:02:08.309622,"[0, 140]",1.355588e+18,1355588337394802688,{'created_at': 'Sat Jan 30 18:46:59 +0000 2021...,"{'url': 'https://t.co/kneKLrC1v0', 'expanded':...",{'full_text': 'He was wearing exact denim poll...

In [8]:
df.isnull().sum()

_id                             0
created_at                      0
id                              0
id_str                          0
text                            0
source                          0
truncated                       0
in_reply_to_status_id        3361
in_reply_to_status_id_str    3361
in_reply_to_user_id          3338
in_reply_to_user_id_str      3338
in_reply_to_screen_name      3338
user                            0
geo                          4617
coordinates                  4617
place                        4574
contributors                 4623
retweeted_status             2281
is_quote_status                 0
quote_count                     0
reply_count                     0
retweet_count                   0
favorite_count                  0
entities                        0
extended_entities            3737
favorited                       0
retweeted                       0
possibly_sensitive           3364
filter_level                    0
lang                            0
timestamp_ms                    0
_timestamp                      0
display_text_range           3223
quoted_status_id             4153
quoted_status_id_str         4153
quoted_status                4155
quoted_status_permalink      4155
extended_tweet               4202
dtype: int64

In [12]:
# MongoDB„Åã„Çâ„É¨„Ç≥„Éº„Éâ„ÇíË™≠„ÇÄ„Ç∏„Çß„Éç„É¨„Éº„ÇøÈñ¢Êï∞
def tweets(*args, **kwargs):
    for tweet in mongo.twitter.sample.find(*args, **kwargs):
        if 'delete' not in tweet:
            # ËààÂë≥„ÅÆ„ÅÇ„Çã„Éï„Ç£„Éº„É´„Éâ„Å†„Åë„Çíyield
            yield {
                'created_at': tweet['created_at'],
                'text': tweet['text']
            }

In [13]:
# ÈÄêÊ¨°
pd.DataFrame(tweets({'lang':'en'}))

,created_at,text
0,Sat Jan 30 18:29:06 +0000 2021,RT @Raglant33: these 7 minute long credits for...
1,Sat Jan 30 18:29:06 +0000 2021,@TheGingerarchy White walker
2,Sat Jan 30 18:29:06 +0000 2021,[Question] Can AltDeploy be used on iOS 13.5 h...
3,Sat Jan 30 18:29:06 +0000 2021,RT @Stock_Car_Spec: Season 3 is here!! \nWe di...
4,Sat Jan 30 18:29:06 +0000 2021,RT @TransEthics: By calling cis people cis we ...
...,...,...
4618,Sat Jan 30 19:02:02 +0000 2021,no rips
4619,Sat Jan 30 19:02:02 +0000 2021,@StojyBoy Ccc extra meat\n add bacon\n america...
4620,Sat Jan 30 19:02:02 +0000 2021,@luckyisdesi I was thinking of uncle/auntie as...
4621,Sat Jan 30 19:02:02 +0000 2021,Dr. Hope!üòé https://t.co/xvjurm10dU
4622,Sat Jan 30 19:02:02 +0000 2021,He was wearing exact denim pollo that he wore ...

In [14]:
# ‰∏ÄÊã¨
df = pd.DataFrame(list(mongo.twitter.sample.find({'lang':'en'})))
df[['created_at', 'text']]

,created_at,text
0,Sat Jan 30 18:29:06 +0000 2021,RT @Raglant33: these 7 minute long credits for...
1,Sat Jan 30 18:29:06 +0000 2021,@TheGingerarchy White walker
2,Sat Jan 30 18:29:06 +0000 2021,[Question] Can AltDeploy be used on iOS 13.5 h...
3,Sat Jan 30 18:29:06 +0000 2021,RT @Stock_Car_Spec: Season 3 is here!! \nWe di...
4,Sat Jan 30 18:29:06 +0000 2021,RT @TransEthics: By calling cis people cis we ...
...,...,...
4618,Sat Jan 30 19:02:02 +0000 2021,no rips
4619,Sat Jan 30 19:02:02 +0000 2021,@StojyBoy Ccc extra meat\n add bacon\n america...
4620,Sat Jan 30 19:02:02 +0000 2021,@luckyisdesi I was thinking of uncle/auntie as...
4621,Sat Jan 30 19:02:02 +0000 2021,Dr. Hope!üòé https://t.co/xvjurm10dU
4622,Sat Jan 30 19:02:02 +0000 2021,He was wearing exact denim pollo that he wore ...

In [15]:
def return_foo():
    buf = []
    for i in range(2):
        print('Ë©ï‰æ°')
        buf.append(i)
    return buf

def yield_foo():
    for i in range(2):
        print('Ë©ï‰æ°')
        yield i

for r in return_foo():
    print(r)
print('---')
for y in yield_foo():
    print(y)

Ë©ï‰æ°
Ë©ï‰æ°
0
1
---
Ë©ï‰æ°
0
Ë©ï‰æ°
1

# spark

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

# do something to prove it works
spark.sql('SELECT "Test" as c1').show()

Exception: Java gateway process exited before sending its port number

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

Exception: Java gateway process exited before sending its port number

In [2]:
# spark is an existing SparkSession
df = spark.read.json("../memo/person.json")
# Displays the content of the DataFrame to stdout
df.show()
# +----+-------+
# | age|   name|
# +----+-------+
# |null|Michael|
# |  30|   Andy|
# |  19| Justin|
# +----+-------+

NameError: name 'spark' is not defined

In [16]:
df = (spark.read
      .format("com.mongodb.spark.sql.DefaultSource")
      .option("uri", "mongodb://localhost/twitter.sample").load())

Py4JJavaError: An error occurred while calling o143.load.
: java.lang.ClassNotFoundException: Failed to find data source: com.mongodb.spark.sql.DefaultSource. Please find packages at http://spark.apache.org/third-party-projects.html
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSource(DataSource.scala:679)
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSourceV2(DataSource.scala:733)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:248)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:221)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:834)
Caused by: java.lang.ClassNotFoundException: com.mongodb.spark.sql.DefaultSource.DefaultSource
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:471)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:589)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:522)
	at org.apache.spark.sql.execution.datasources.DataSource$.$anonfun$lookupDataSource$5(DataSource.scala:653)
	at scala.util.Try$.apply(Try.scala:213)
	at org.apache.spark.sql.execution.datasources.DataSource$.$anonfun$lookupDataSource$4(DataSource.scala:653)
	at scala.util.Failure.orElse(Try.scala:224)
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSource(DataSource.scala:653)
	... 14 more

In [ ]:
### ÂèÇËÄÉÊñáÁåÆ