# 大規模データベース論
## 第6章 ビックデータ分析基盤の構築
## 6.1 スキーマレスデータのアドホック分析

In [1]:
!java -version

java version "15.0.1" 2020-10-20
Java(TM) SE Runtime Environment (build 15.0.1+9-18)
Java HotSpot(TM) 64-Bit Server VM (build 15.0.1+9-18, mixed mode, sharing)

In [2]:
!python3 -V

Python 3.8.2

### MongoDBのインストール
本書の情報が古く` $ brew install mongodb` ができないため、https://www.tweeeety.blog/entry/2020/08/23/033501 を参考にインストール。
```
$ brew tap mongodb/brew
$ brew install mongodb-community
```

In [3]:
!mongod --version

db version v4.4.1
Build Info: {
    "version": "4.4.1",
    "gitVersion": "ad91a93a5a31e175f5cbf8c69561e788bbc55ce1",
    "modules": [],
    "allocator": "system",
    "environment": {
        "distarch": "x86_64",
        "target_arch": "x86_64"
    }
}

### MongoDBの起動
```
$ brew services start mongodb-community   # mongdbのバックグランドプロセスを自動起動
$ brew services start mongodb-community   # 自動起動停止
```
https://gxliu.hatenablog.com/entry/2020/10/25/201501

In [4]:
import pymongo
import pandas as pd

In [5]:
mongo = pymongo.MongoClient()
mongo.twitter.sample.find_one()

{'_id': ObjectId('5fe2fa2654fe97c18f78c45f'),
 'delete': {'status': {'id': 1160163016836431872,
   'id_str': '1160163016836431872',
   'user_id': 740181917727739905,
   'user_id_str': '740181917727739905'},
  'timestamp_ms': '1608710576651'},
 '_timestamp': '2020-12-23T08:04:54.130391'}

In [8]:
df = pd.DataFrame(list(mongo.twitter.sample.find(limit=10000)))
df

,_id,delete,_timestamp,created_at,id,id_str,text,display_text_range,source,truncated,...,possibly_sensitive,filter_level,lang,timestamp_ms,extended_entities,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink
0,5fe2fa2654fe97c18f78c45f,"{'status': {'id': 1160163016836431872, 'id_str...",2020-12-23T08:04:54.130391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5fe2fa2654fe97c18f78c460,"{'status': {'id': 1255460929833185281, 'id_str...",2020-12-23T08:04:54.223166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5fe2fa2654fe97c18f78c461,"{'status': {'id': 1341644255283081219, 'id_str...",2020-12-23T08:04:54.225146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5fe2fa2654fe97c18f78c462,NaN,2020-12-23T08:04:54.227071,Wed Dec 23 08:04:48 +0000 2020,1.341656e+18,1341655986747150337,@6iliw @P99I_ هههههههههههههههههههههههههههههههه...,"[14, 140]","<a href=""http://twitter.com/download/iphone"" r...",True,...,False,low,ar,1608710688660,NaN,NaN,NaN,NaN,NaN,NaN
4,5fe2fa2654fe97c18f78c463,"{'status': {'id': 1162770343007703040, 'id_str...",2020-12-23T08:04:54.228875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,5fe2fa7654fe97c18f78eb6a,"{'status': {'id': 1327591579456946179, 'id_str...",2020-12-23T08:06:14.836479,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,5fe2fa7654fe97c18f78eb6b,"{'status': {'id': 1240790743406395392, 'id_str...",2020-12-23T08:06:14.838672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,5fe2fa7654fe97c18f78eb6c,"{'status': {'id': 326981124121317377, 'id_str'...",2020-12-23T08:06:14.841051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,5fe2fa7654fe97c18f78eb6d,"{'status': {'id': 1094309709358616576, 'id_str...",2020-12-23T08:06:14.843001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,5fe2fa7654fe97c18f78eb6e,"{'status': {'id': 1163406526645592065, 'id_str...",2020-12-23T08:06:14.844781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 39 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   _id                        10000 non-null  object
 1   delete                     7004 non-null   object
 2   _timestamp                 10000 non-null  object
 3   created_at                 2996 non-null   object
 4   id                         2996 non-null   float64
 5   id_str                     2996 non-null   object
 6   text                       2996 non-null   object
 7   display_text_range         939 non-null    object
 8   source                     2996 non-null   object
 9   truncated                  2996 non-null   object
 10  in_reply_to_status_id      813 non-null    float64
 11  in_reply_to_status_id_str  813 non-null    object
 12  in_reply_to_user_id        837 non-null    float64
 13  in_reply_to_user_id_str    837 non-null    object
 14  in_reply_to_screen_name    837 non-null    object
 15  user                       2996 non-null   object
 16  geo                        1 non-null      object
 17  coordinates                1 non-null      object
 18  place                      18 non-null     object
 19  contributors               0 non-null      float64
 20  is_quote_status            2996 non-null   object
 21  extended_tweet             162 non-null    object
 22  quote_count                2996 non-null   float64
 23  reply_count                2996 non-null   float64
 24  retweet_count              2996 non-null   float64
 25  favorite_count             2996 non-null   float64
 26  entities                   2996 non-null   object
 27  favorited                  2996 non-null   object
 28  retweeted                  2996 non-null   object
 29  possibly_sensitive         921 non-null    object
 30  filter_level               2996 non-null   object
 31  lang                       2996 non-null   object
 32  timestamp_ms               2996 non-null   object
 33  extended_entities          672 non-null    object
 34  retweeted_status           1364 non-null   object
 35  quoted_status_id           210 non-null    float64
 36  quoted_status_id_str       210 non-null    object
 37  quoted_status              210 non-null    object
 38  quoted_status_permalink    210 non-null    object
dtypes: float64(9), object(30)
memory usage: 3.0+ MB

In [7]:
### 参考文献